GOOGLE_STREET_VIEW_API_KEY="SUA_CHAVE_API_AQUI"
ROBOFLOW_API_KEY="SUA_PRIVATE_API_KEY_AQUI"
ROBOFLOW_WORKSPACE_NAME="seu_workspace"
ROBOFLOW_PROJECT_NAME="seu_projeto"
PASTA_IMAGENS="dataset_calcadas_cic"
TOTAL_IMAGENS_ALVO=100
